@import url("https://fonts.googleapis.com/css?family=Lato");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "marguerite";
	src: url("./Blacksword.otf");
}

body,
html,
#root {
	width: 100%;
	height: 100%;
  background:rgba(25, 30, 33, 1.0);
  color: white;
	font-family: "Lato", sans-serif;
}
